---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{#- `item.url` is false for permalink:false documents (the downloads
    collection), which otherwise emit a literal /false URL. -#}
{%- if item.url and not item.data.excludeFromSitemap and item.data.translationStatus != "machine" %}
  <url>
    <loc>{{ item.url | absoluteUrl }}</loc>
    <lastmod>{{ item.date | isoDate }}</lastmod>
    <priority>{% if item.url == "/" %}1.0{% elif item.data.sitemapPriority %}{{ item.data.sitemapPriority }}{% else %}0.7{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
